body {
    width: 100%;
    height: 100wh;
    background-image: url("../img/background_image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15rem;
}

main {
    font-family: 'Montserrat' sans-serif;
    font-size: 22px;
    color: black;
    min-height: 92%;
}

.result-title {
    font-size: 75%;
}

.result-description {
    font-size: 75%;
    height: 3.1em;
    overflow-y: hidden;
}

.main_info {
    font-size: 1.5rem;
    text-align: center;
    background: transparent;
    color: white;
    margin-bottom: 3rem;
}

.main_info>a {
    color: black;
    font-weight: bold;
}

.loginButton {
    color: black
}

.profile-image {
    width: 40;
    height: 40;
    border-radius: .5rem;
}

.profileDropDown {
    left: unset;
    right: 1rem;
}

#resource-pills-tab {
    justify-content: center;
}

.navbar {
    font-family: 'Montserrat' sans-serif;
    font-size: 22px;
    color: whitesmoke
}

.navbar-nav {
    margin-right: 0px;
    margin-left: auto;
}

.nav-link {
    padding-left: .5rem !important;
    color: whitesmoke !important;
}

.nav-item {
    background-color: transparent !important;
}

.nav-item .active {
    background-color: black !important;
    color: black;
}

.tag-badge {
    color: black;
    font-family: 'Montserrat' sans-serif;
    font-weight: 100 !important;
    margin-top: 2px;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    cursor: default
}

.badge-primary {
    color: white;
    background-color: black;
}

.inactive-tag-template {
    background-color: whitesmoke !important;
}

.active-tag-template {
    background-color: black !important;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.map_canvas {
    width: auto;
    height: 400px;
    margin-top: 10px;
    font-family: 'Montserrat' sans-serif;
    font-size: 22px;
    text-transform: none;
    color: black;
}

.btn-primary {
    background-color: black !important;
    border-color: black !important;
}

.modal-body {
    font-size: 75% !important;
}

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 100%;
}

#mc_embed_signup label {
    margin-top: 1rem;
    color: white;
}

#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px;
}

#mergeRow-gdpr {
    margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}

#mc_embed_signup form {
    padding: 0px !important;
    margin: 0px !important;
}

.footer {
    color: white !important;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 14.5;
}

.footer a {
    color: white !important;
}